#kanbas-navigation,
#course-navigation,
#kanbas-title,
#course-status {
  display: none;
}

#course-module{
    width: 100%;
}


@media (min-width: 768px) {
    #kanbas-navigation,
    #kanbas-title,
    #course-navigation {
        display: block;
    }

    #course-status,
    #kanbas-small-title {
      display: none;
    }
}

@media (min-width: 992px) {
    #anbas-navigation,
    #kanbas-title,
    #course-navigation,
    #course-status {
        display: block;
    }
    #kanbas-small-title{
        display: none;
    }


}

.kanbas-dropdown{
    padding-top: 5px !important; 
    padding-bottom: 5px !important;

}
.kanbas-button{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.kanbas-button2{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.kanbas-button2 i{
    color: black;
}
.list-group-item {
    padding-left: 10px !important;
}
.list-group-item, .custom-item {
    border-left: 5px solid green !important;
}

.list-group{
    border-radius: 0 !important;
}

.list-group-item.font-weight-bold {
    padding-left: 5px !important;
}
.list-group-item-secondary{
    padding-left: 5px !important;
    border-left: 0 !important;

}
.list-group-item a{
    border-radius: 0 !important;
    text-decoration: none;
    color: red;
}

.custom-item {
    position: relative;
}

.icon-plus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
}

.percentage{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    border: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;

}

.icon-check {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: green;
}
.icon-ellipsis{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}


.icon-check {
    right: 35px;
}

.icon-ellipsis {
    right: 15px;
}

.list-group{
    border-left: 2px !important;
    border-color: green !important;
}

.assignment-content{
    display: flex; 
    align-items: center;
}
.assignment-icon{
    margin-right: 20px;
    margin-left: 5px;
}
.assignment-icon i{
    color: green;
    font-size: 1.2em;
}
.assignment-content h6,.assignment-content p{
    margin-bottom: 0px
}